* {
    margin: 0;
    padding: 0;
}

.maindiv {
    width: 900px;
    border: 1px solid rgb(17, 16, 16);
    margin: auto;
    text-align: center;
}

.basic {
    height: 155px;
    width: 155px;
    margin: 22px;
    display: inline-block;
    transition: 0.4s;
}

.div1 {
    background: rgb(1, 30, 53);
    transform: translate(0);
}

.div1:hover {
    transform: translate(-55px, 5px);
}

.div2 {
    background: rgb(7, 48, 7);
    transform: rotate(0);
}

.div2:hover {
    transform: rotate(500deg);
}

.div3 {
    background-color: rgb(97, 13, 13);
    transform: skew(0);
}

.div3:hover {
    transform: skew(26deg, 25deg);
}

.div4 {
    background-color: rgb(73, 73, 5);
    transform: scale(1);
}

.div4:hover {
    background-color: rgb(102, 102, 5);
    transform: scale(1.4);
}